<h2>Continue as Guest</h2>

<form action="/" method="POST" id="form-container">
  <label for="tempname">Player name</label>
  <input id="tempname" type="text" name="tempname" placeholder="JonSnow">
  <br><br>
  <button>Get Started!</button>
</form>