<br><br>

<form action="/auth/login" method="POST" id="form-container">
  {{#if successMessage }}
  <div class="success-message">{{ successMessage }}</div>
  <br><br>
  {{/if}}
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  <button class="go">Login</button>
</form>