{{!-- Player's homepage, where he goes after logging in --}}
<div class="col-container">
  <div class="profile-header profile-row">
    <h1>{{ user.username }}</h1>
    <div class="win-count-container">
      <h1>{{ data.wonCount }}/{{ data.totalClosed.length }}</h1>
    </div>
  </div>
  <a href="/auth/logout">Log out</a>

  <div class="open-games-row">
    <h2>Open games:</h2>
    <a href="/start-game">Start New Game
    </a>
  </div>
  <div class="card-container">
    {{#unless data.open }}
    <p>No open games! Start a new game to make a move.</p>
    {{/unless }}
    {{#each myTurn }}
    {{>openGamePartial }}
    {{/each }}
    {{#each othersTurn }}
    {{>waitingGamePartial }}
    {{/each }}
  </div>
  <h2>History</h2>
  {{#each data.totalClosed }}
  {{>historicalGamePartial }}
  {{/each }}
</div>