{{!-- Player's homepage, where he goes after logging in --}}
<div class="col-container">
  <div class="profile-header">
    <h1>{{ user.username }}</h1>
    <div class="win-count-container">
      <h1>{{ data.wonCount }}/{{ data.totalClosed }}</h1>
    </div>
  </div>

  <p>Open games:</p>
  <div class="card-container">
    {{#unless data.open }}
    <h3>No open games!</h3>
    {{/unless }}
    {{#each data.open }}
    {{>openGamePartial }}
    {{/each }}
  </div>
  <a href="/start-game">Start New Game</a>
  <h2>Leaderboard</h2>
  {{#if usersData }}
  <div class="card-container">
    {{#each usersData }}
    {{>userPartial }}
    {{/each }}
  </div>
  {{/if }}
</div>